@page
@model RazorTeste.Pages.MoviesModel
@{
    ViewData["Title"] = "Movies";
}

<div class="text-center">
    <h1>Movies</h1>
</div>
<div class="container row">
    <div class="col-sm-3">
        <p>Filme 1</p>
    </div>
    <div class="col-sm-3">
        <p>Filme 2</p>
    </div>
    <div class="col-sm-3">
        <p>Filme 3</p>
    </div>
    <div class="col-sm-3">
        <p>Filme 4</p>
    </div>
</div>
